[[!meta title="Choose your manual upgrade scenario"]]

[[!meta stylesheet="bootstrap" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/assistant" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

<h1 class="text-center">Choose your <strong>manual upgrade</strong> scenario</h1>

<div class="note">

<p>The following set of instructions is quite new. If you face problems
following them:</p>

<li>[[Report your problem.|support/talk]]</li>

<li>Try following our old instructions for [[downloading|install]] or
[[upgrading|doc/first_steps/upgrade]] instead.</li>

</div>

<div id="scenarios" class="row">
  <div class="col-md-6">

    <h3>Upgrade from another Tails</h3>

    <p>If you know someone of trust who already did the upgrade, you can
    upgrade your Tails by cloning from it.</p>

    <h4>You need:</h4>

    <ul>
      <li>Your Tails USB stick</li>
      <li>Another up-to-date Tails (USB stick or DVD)</li>
      <li>¼ hour to upgrade</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><small>Manually</small><br />upgrade from another Tails</h3>
        </div>
      </div>
    |upgrade/clone/overview]]
  </div>
  <div class="col-md-6">

    <h3>Upgrade inside Tails</h3>

    <h4>You need:</h4>

    <ul>
      <li>Your Tails USB stick</li>
      <li>Another empty USB stick <small>(at least 4 GB)</small>&nbsp;[[!toggle id="why_extra" text="Why?"]]

        [[!toggleable id="why_extra" text="""
        [[!toggle id="why_extra" text="X"]]
        [[!inline pages="install/inc/router/why_extra.inline" raw="yes"]]
        """]]
      </li>
      <li>1 hour to download Tails (<small class="remove-extra-space">[[!inline pages="inc/stable_i386_iso_size" raw="yes"]]</small>)</li>
      <li>½ hour to upgrade</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><small>Manually</small><br />upgrade inside Tails</h3>
        </div>
      </div>
    |upgrade/tails/overview]]

  </div>
</div>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">
    <small>

      You can also:
      <ul>
        <li>[[Burn a new Tails DVD|install/dvd]]</li>
        <li>[[Upgrade your virtual machine|install/vm]]</li>
      </ul>

    </small>
  </div>
</div>
